@import "@fontsource-variable/inter";

/* TODO: rework all of these vars */
:root {
    --app-width: 715px;
    --app-height: 700px;

    /* Base text variables */
    --font-family: "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monospace, monospace;
    --font-size: 14px;
    --font-color: #EBE6EE;
    --font-color-muted: #a7a3aa;


    /* Background levels */
    --bg-level-1: #2C2733;
    --bg-level-2: #2F2935;
    --bg-level-3: #322D39;
    --bg-level-4: #3a3541;
    --bg-separator: #393440;
    --bg-input-focus: #1F1E1F;
    --bg-modal: #231E2A;
    --bg-basic-button: #625D67;

    /* Corresponding border levels */
    --border-level-1: #000000;
    --border-level-2: #4b4652;
    --border-level-3: #3C3743;
    --border-level-4: #433d49;
    --border-separator: #302B37;
    --border-input: #443e4b;
    --border-input-focus: 3px solid #2656c9;

    /* Border radii */
    --radius-level-1: 15px;
    --radius-level-2: 12px;
    --radius-level-3: 8px;
    --radius-level-4: 6px;
    --radius-level-5: 4px;

    /* Switch colors */
    --switch-body-color: #453F4C;
    --switch-active-body-color: #514b5a;
    --switch-checked-color: #3973D3;
    --switch-active-checked-color: #4181e9;

    /* Special colors */
    --accent-color: #56A4F5;
    --selected-color: #2C56B9;
    
    --color-danger: #F25F58;
    --color-warning: #FBBE3C;
    --color-success: #58CB42;


    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--font-color);
}

* {box-sizing: border-box;}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar:hover {
    background-color: #171717;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    display: initial;
    border-radius: 10px;
    background-color: #959595;
    border: 2px solid var(--bg-level-1);
    /* padding: 12px; */
}

::-webkit-scrollbar-thumb:hover {
    border-width: 0;
}


body {
    min-height: 100vh;
    margin: 0;
	background-image: url("$lib/images/monterey.webp");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    color: var(--accent-color);
    text-decoration: dotted underline;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

pre {
    font-size: 16px;
    font-family: var(--font-family-mono);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: var(--radius-level-5);
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--font-color);
}

.text-column {
    display: flex;
    max-width: 48rem;
    flex: 0.6;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

input,
button,
select {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
